<!DOCTYPE html>
<html dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body background='D:\WEB\yardenfelz\yardenfelz\static\background.jpg'>
    <!--the mutual elment-header on the top -->
    <header style="display: flex; align-items: center; justify-content: center;">
        <img src="D:\WEB\yardenfelz\yardenfelz\static\icon2.png" alt="icon" style="height:25vh; padding: 2vw; 
        margin-left: 5vh ;border: radius 50px;">
        <div>
            <h1 style="text-align: center;  font-size:  15vh; ">איגוד פיות השיניים </h1>
        </div>
    </header>
    <div style="margin-top: 4vh; display: flex;">
        <img src="D:\WEB\yardenfelz\yardenfelz\static\rialisticFairy2.jpg" alt="rialisticFairy2"
            style=" border-radius: 10px;width: 60vh; margin-left: 5vw;">
            <!--Using Emphasis element - An element we did not learn  -->
        <span
            style=" padding: 5vw; background: aliceblue;border: 5px solid rgb(2, 126, 113); border-radius: 10px;">באיגוד
            פיות השיניים אנו מאמינות כי כל <em style="font-weight: bold;" >שן</em> הוא עולם ומלואו,
            ולכן אנו נותנות תשלום הוגן עבורו. חשוב לנו כי כל ילד יקבל את החוויה הטובה ביותר ויתעורר עם חיוך
            (חסר <em style="font-weight: bold;">שן</em>)
        </span>
    </div>
    <!--back to contactUsPage -->
    <footer style="display: flex; margin-top: 10vh; justify-content: center;">
        <a href="D:\WEB\yardenfelz\yardenfelz\templates\contactUsPage1.html" style="align-content: center;"><button
                style="background: darkcyan; font-size: 12px; color: azure;height: 10vh; width: 15vw; border: 2px darkturquoise; 
                border-radius: 10px;">צור קשר</button></a>
    </footer>
</body>

</html>