<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="D:\WEB\yardenfelz\yardenfelz\static\mystyle2.css">
    <script type= "text/javascript" src="D:\WEB\yardenfelz\yardenfelz\static\embroideryJS.js"></script> 
    
</head>
<body>
    <!-- nav & header are the same in both pages -->
    <header>
        <!--Using Emphasis element - An element we did not learn  -->
        <span id="embroideryIcon"><i class="fa fa-etsy" aria-hidden="true"></i>mbr<i class="fa fa-ravelry" aria-hidden="true"></i>idery<em>4U</em></span>
    </header>
    <nav>
            <ul id="navtool">
                <li><a href="D:\WEB\yardenfelz\yardenfelz\templates\homePage22.html" id="navHome" >Home<i class="fa fa-home"></i></a></li>
                <li><a href="D:\WEB\yardenfelz\yardenfelz\templates\contactUs22.html" id="navContact" >ContactUs<i class="fa fa-envelope"></i></a></li>
            </ul>
    </nav>
    <aside  id="picDiv">
        <img id="mainPic" src="D:\WEB\yardenfelz\yardenfelz\static\manyEmbroidery.jpg">
    </aside>
    <main id="detailsDiv">
    <div class="box" id="triangleDiv">  
    </div>
    <h1 class="fontDesign" id="theTitle" >embroidery store</h1>
        <!-- function that change the background color on click -->
        <p class="fontDesign" id="Summary" onclick="createContactButton()">Our home is our place. The place where we spend a large part of our day.
             Therefore we would like to invest in it and decorate it.
             One way to decorate, are of course' hanging pictures. 
             We give you another alternative of pictures on the wall - embroidery. 
             At this site you will be exposed to many beautiful handmade embroidery pictures. 
             Our employees have put a lot of thought into giving you the best product. 
             All you have left is to choose. </p>
    </main>

 
</body>

</html>